<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wj.permission">

    <application>

        <activity
            android:name="com.wj.permission.PermissionsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Permission_NoTitleTranslucentTheme" />
    </application>
</manifest>
